@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --spacing-header: 64px;

  --color-base: var(--base);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-faint: var(--faint);
  --color-dim: var(--dim);
  --color-accent: var(--accent);
  --color-border-solid: var(--border-solid);
  --color-shade-hover: var(--shade-hover);
  --color-label: var(--label);
}

:root {
  /* bg */
  --base: #fff;
  --background: #fafafa;

  /* text */
  --foreground: var(--faint);
  --faint: #909090;
  --dim: #303030;
  --label: #fafafa;

  /* border */
  --border-solid: #d9d9d9;

  /* action */
  --shade-hover: #e3e3e3;

  ::selection {
    background-color: var(--accent-transparent);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* bg */
    --base: #0c0c0c;
    --background: #040404;

    /* text */
    --foreground: var(--faint);
    --faint: #646464;
    --dim: #dedede;
    --label: #fafafa;

    /* border */
    --border-solid: #252525;

    /* action */
    --shade-hover: #1b1b1b;
  }

  .light-only {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .dark-only {
    display: none;
  }
}

body {
  overflow: hidden;
  text-transform: uppercase;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono);
  letter-spacing: -1.28px;

  .text-sm {
    letter-spacing: -0.96px;
  }

  a:focus,
  input:focus,
  button:focus {
    outline-style: dashed;
    outline-color: var(--accent);
    outline-offset: 2px;
    outline-width: 2px;
  }

  input:focus {
    outline: none;
  }

  input,
  input::placeholder {
    text-transform: uppercase;
    letter-spacing: normal;
  }

  .dashed {
    padding: 1px !important;
    background-image: repeating-linear-gradient(
        0deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      ),
      repeating-linear-gradient(
        90deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      ),
      repeating-linear-gradient(
        180deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      ),
      repeating-linear-gradient(
        270deg,
        var(--border-solid),
        var(--border-solid) 5px,
        transparent 5px,
        transparent 8px,
        var(--border-solid) 8px
      );
    background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
  }
}

svg text,
svg tspan {
  cursor: default;
  user-select: none;
}
